/* TomatoPage.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 중앙에 위치시키기 */
}

.imageWrapper {
  position: relative;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
.comment {
  position: absolute;
  top: 50%; /* 이미지 중앙에 위치시키기 */
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  color: black; /* 텍스트 색상 */
  text-align: center;
  font-size: 14px; /* 글자 크기 조정 */
}
